@use 'vars';

.aboutTextContainer{
    display: flex;
    align-items: center;
    background-color: vars.$wine;
    padding-top: 10%;
}

.logoAbout{
    width: 100%;
    padding: 50px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .aboutTextContainer{
        display: block;
        align-items: center;
        text-align: center;
    }

    .logoAbout{
        width: 50%;
        padding-top: 20px;
        padding-bottom: 0px;
        height: auto;
    }
}
