@use 'vars';

.bannerTemplates{
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.BannerPage{
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter:brightness(0.5);
}

.BannerTitle{
    position: absolute;
    font-weight: 400;
    font-size: 44px;
    color: vars.$white;
    padding-left: 10%;
}
