@use 'vars';

@font-face {
    font-family: 'ABeeZee-Regular';
    src: url("@fonts/ABeeZee-Regular.otf") format("opentype");
}

.ButtonSite{
    font-family: 'ABeeZee-Regular';
    border-radius: 10px;
    background-color: vars.$white;
    border: 1px solid vars.$black;
    cursor: pointer;
    font-size: 12px;
    padding: 4px;
    padding-inline: 35px;
    font-weight: bold;
    transition: linear 0.2s;
    text-decoration: none;
    color: vars.$dark-gray;
}

.ButtonSite i{
    padding-left: 5px;
    color: vars.$wine;
}

.ButtonSite:hover i{
    color: vars.$white;
}

.ButtonSite:hover{
    background-color: vars.$wine;
    color: vars.$white;
    border: 1px solid vars.$white;
    transition: linear 0.2s;
}

.activeButton{
    background-color: vars.$wine;
    color: vars.$white;
    border: 1px solid vars.$white;
    transition: linear 0.2s;
}
