@use 'vars';

.cardContainer{
    max-width: 350px;
    margin: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.cardItemsContainer{
    display: flex;
    width: 300px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.cardImageContainer{
    width: 50%;
    padding: 10px;
}

.imageCard{
    width: 130px;
    height: 200px;
}

.titleCard{
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 15px !important;
}

.cardContentContainer{
    width: 50%;
    padding-left: 21px;
}

.cardContentContainer h3{
    font-size: 16px;
    color: vars.$wine;
    padding-bottom: 10px;
}

.cardContentContainer p{
    font-size: 12px;
    color: vars.$wine;
}

.descriptionCard{
    font-family: 'Montserrat', serif;
    color: vars.$black;
    bottom: 0;
}

.priceCard{
    font-family: 'Montserrat', serif;
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(34, 137, 194, 0.95);
    line-height: 13px;
}

.cartIcon{
    float: right;
    padding: 10px;
}