@use 'vars';

.contactContainer{
    background-image: url('@images/bg_contact.jpg');
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactTitle{
    font-size: 44px;
    color: vars.$white;
    padding: 2%;
    font-weight: 400;
}

.contactContainerForm{
    display: flex;
    padding: 20px;
}

.contactForm{
    display: flex;
    background-color: vars.$gray;
    margin: 10px;
    border-radius: 20px;
    width: 519px;
}

.contactMap{
    margin: 10px;
    border-radius: 20px;
}
