@use 'vars';

.filterContainer{
    margin: 20px;
    padding-inline: 80px;
}

.ContainerFilterForm .searchInput{
    margin-top: 50px;
    margin-inline: 50px;
    margin-bottom: 10px;
    text-align: center;
    background-color: vars.$gray;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.titleFilter{
    font-family: 'Montserrat', serif;
    text-align: center;
    color: vars.$red;
    font-size: 30px;
    font-weight: 400;
    padding-inline: 20px;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonsContainer button{
    margin-inline: 5px;
    border-radius: 20px;
    padding: 10px 25px;
    border: 0;
    margin-inline: 25px;
}

.filterButton{
    background-color: vars.$wine;
    color: vars.$white;
    cursor: pointer;
    transition: all 0.3s;
}

.filterButton:hover{
    background-color: vars.$wine-light;
    transition: all 0.3s;
}

.resetButton{
    background-color: rgba(191, 175, 180, 1);
    cursor: pointer;
    transition: all 0.3s;
}

.resetButton:hover{
    background-color: vars.$beige;
    transition: all 0.3s;
}

.productsCount{
    text-align: center;
    padding: 20px;
}
