@use 'vars';

footer{
    font-family: 'Montserrat', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: vars.$dark-blue;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.logoFooter{
    display: flex;
    width: 40%;
    padding: 20px;
    background-color: vars.$dark-blue;
    color: vars.$white;
    align-items: center;
}

.logoFooter p{
    font-size: 13px;
}

.logoFooter img{
    width: 200px;
    height: auto;
    padding-right: 60px;
}

.Social{
    width: 10%;
    padding-right: 60px;
}

.Menu{
    width: 50%;
}

.MenuFooter{
    display: flex;
    list-style: none;
    justify-content: right;
}

.MenuFooter li{
    padding-inline: 30px;
    color: vars.$white;
}

.SocialFooter{
    display: flex;
    list-style: none;
    justify-content: center;
}

.SocialFooter li{
    padding: 5px;
}

.linkFooter{
    color: vars.$white;
    text-decoration: none;
}

.linkFooter:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 1030px) and (max-width: 1600px) {
    .MenuFooter li{
        padding-inline: 20px;
    }

    .logoFooter p{
        font-size: 10px;
    }
    
    .logoFooter img{
        width: 150px;
        height: auto;
    }

    .SocialFooter li{
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    footer{
        display: block;
    }
    
    .logoFooter{
        display: block;
    }

    .Menu{
        width: 100%;
    }

    .MenuFooter li{
        padding-inline: 10px;
        font-size: 15px;
    }
}
