@use 'vars';

nav{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgba(120, 7, 37, 0.75);
}

.menuContainer{
    height: 8%;
}

.menuList{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.socialContainer{
    display: flex;
    align-items: center;
}

.menuListSearch{
    width: 20%;
    margin-left: 10%;
}

.linkItem{
    text-decoration: none;
    color: vars.$white;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
    padding-inline: 2px;
}

.linkItem:hover{
    color: vars.$wine-light;
    transition: all 0.4s;
}

.active{
    color: vars.$white;
    font-weight: 800;
}

.logoutButton{
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid vars.$black;
    cursor: pointer;
    font-size: 15px;
    padding: 4px;
    padding-inline: 25px;
    font-weight: 800;
    transition: linear 0.2s;
    text-decoration: none;
    color: vars.$black;
}

.logoutButton:hover{
    background-color: vars.$wine;
    color: vars.$white;
    border: 1px solid vars.$white;
    transition: linear 0.2s;
}

.logoutButton i{
    padding-right: 5px;
}

.menuMobileIcon{
    display: none;
}

#menuMobile{
    display: none;
}

.menuListLogo{
    margin-right: -100px;
}

.logoMenu{
    width: 30%;
    padding-top: 5px;
}

@media only screen and (max-width: 800px) {
    .menuContainer{
        display: flex;
    }

    .menuList{
        justify-content:none;
    }

    .logoMenu{
        width: 90%;
    }

    .menuListLogo{
        margin-right: 0;
    }

    .linkItem{
        display: none;
    }

    .menuListSearch{
        display: none;
    }

    .loginButtonList{
        display: none;
    }

    .menuMobileIcon{
        width: 60%;
        display: block;
        padding-left: 40%;
        font-size: 30px;
        color: vars.$white;
    }

    .listMenuMobile{
        background-color: vars.$white;
        list-style: none;
        font-size: 25px;
        padding: 20px;
    }

    .listMenuMobile li{
        padding: 20px;
        text-align: center;
    }

    #menuMobile{
        display: none;
    }

    .linkMobile{
        text-decoration: none;
        color: vars.$black;
    }

    .active{
        color: vars.$wine;
    }
}
