@use 'vars';

@font-face {
    font-family: 'ABeeZee-Regular';
    src: url("../assets/fonts/ABeeZee-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'ABeeZee-Italic';
    src: url("../assets/fonts/ABeeZee-Italic.otf") format("opentype");
}

.recomendationsContainer{
    background-image: url('@images/products_bg.jpg');
    height: 850px;
}

.containerProductsSlider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleRecomendations{
    font-family: 'ABeeZee-Regular' !important;
    font-size: 20px;
    color: vars.$black;
    text-align: center;
    padding-top: 2%;
    font-weight: 800;
}

.iconSlider{
    font-size: 80px;
    cursor: pointer;
    color: rgba(33, 39, 67, 0.8);
    padding: 60px;
    transition: linear 0.1s;
}

.iconSlider:hover{
    color: vars.$wine-light;
    transition: linear 0.2s;
}

.iconSlider:active{
    color: vars.$black;
    transition: linear 0.1s;
}

.iconSliderRight:active{
    padding: 65px;
    animation-name: moveArrow;
    animation-duration: 0.1s;
    animation-delay: 0.1s;
}

.iconSliderLeft:active{
    padding: 65px;
    animation-name: moveArrow;
    animation-duration: 0.1s;
    animation-delay: 0.1s;
}

.contentContainer{
    text-align: left;
    padding: 50px;
    border-radius: 20px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 300px;
    margin-right: -170px;
}

.contentContainer p{
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    padding-right: 150px;
}

.imageProductSlider{
    width: 192px;
    height: 668px;
    padding: 50px;
}

.titleProductSlider{
    color: vars.$wine;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 40px;
    line-height: 48px;
    padding-right: 150px;
}

.touchIconContainer{
    display: none;
}

@keyframes moveArrow {
    0%   {font-size: 80px;}
    25%  {font-size: 100px;}
    50%  {font-size: 120px;}
    100% {font-size: 140px;}
}

@media only screen and (min-width: 1030px) and (max-width: 1600px) {
    .recomendationsContainer{
        height: 700px;
    }

    .imageProductSlider{
        width: 149px;
        height: 500px;
    }

    .contentContainer{
        text-align: left;
        margin-right: -130px;
    }

    .titleProductSlider{
        padding-right: 100px;
    }

    .contentContainer p{
        padding-right: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .containerProductsSlider{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .contentContainer{
        display: block;
        width: 100%;
        padding: 0;
    }

    .titleRecomendations{
        font-size: 30px;
        font-family: 'ABeeZee-Regular';
    }

    .arrowProductSlider{
        display: none;
    }

    .contentContainer p{
        padding: 20px;
    }

    .titleProductSlider{
        font-size: 25px;
        margin-top: 0;
        padding: 10px;
    }

    .touchIconContainer{
        display: block;
        position: absolute;
        margin-left: 30%;
        margin-top: 85%;
        text-align: center;
    }

    .touchIconContainer p{
        margin-top: -20px;
    }

    .touchAnimation{
        width: 50%;
    }
}
