@use 'vars';

.itemsFilter{
    padding: 10px;
}

.itemsFilter label{
    font-family: 'Montserrat', serif;
    font-weight: 400;
    color: vars.$red;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    font-size: 22px;
    padding-left: 20px;
}

.itemsFilter select{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 0;
    background-color: vars.$gray;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.itemsFilter select:hover{
    background-color: vars.$beige;
    transition: all 0.3s;
}

.itemsFilter select:focus{
    color: vars.$wine;
    background-color: vars.$beige;
}
