@use 'vars';

.cardLoadingContainer{
    max-width: 350px;
    margin: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgb(223, 223, 223));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

.cardItemsLoading{
    display: flex;
    width: 300px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.cardLoadingImageContainer{
    width: 50%;
    padding: 10px;
}

.imageLoading{
    background: linear-gradient(90deg, rgb(165, 165, 165), rgb(197, 197, 197));
    color: transparent;
    animation: loadingTextAnimation 3s ease-in-out infinite;
    padding-block: 100px;
}

.priceCardLoading{
    background: linear-gradient(90deg, rgb(165, 165, 165), rgb(197, 197, 197));
    animation: loadingTextAnimation 3s ease-in-out infinite;
    padding-inline: 30px;
    margin-left: 10px;
    color: transparent;
}

.loadingTitle{
    background: linear-gradient(90deg, rgb(230, 177, 177), rgb(121, 0, 0));
    background-size: 400% 400%;
    animation: loadingTextAnimation 3s ease-in-out infinite;
    color: transparent;
    margin-right: 5%;
    margin-top: 14%;
    height: 8px;
}

.loadingText{
    background: linear-gradient(90deg, rgb(165, 165, 165), rgb(197, 197, 197));
    background-size: 400% 400%;
    animation: loadingTextAnimation 3s ease-in-out infinite;
    color: transparent;
    margin-right: 5%;
    margin-top: 14%;
    height: 4px;
}

.loadingText2{
    background: linear-gradient(90deg, rgb(165, 165, 165), rgb(197, 197, 197));
    background-size: 400% 400%;
    animation: loadingTextAnimation2 3s ease-in-out infinite;
    color: transparent;
    margin-right: 5%;
    margin-top: 14%;
    height: 4px;
}

@keyframes loadingTextAnimation{
    0% {
        margin-right: 5%;
    }

    50% {
        margin-right: 20%;
    }

    100% {
        margin-right: 5%;
    }
}

@keyframes loadingTextAnimation2{
    0% {
        margin-right: 50%;
    }

    50% {
        margin-right: 15%;
    }

    100% {
        margin-right: 50%;
    }
}

@keyframes loadingAnimation{
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}
