@use 'vars';

.socialButton{
    display: flex;
    margin-inline: 5px;
    background-color: vars.$beige;
    padding: 7px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    transition: linear 0.2s;
}

.socialButton:hover{
    background-color: vars.$wine;
    cursor: pointer;
    color: white;
    transition: linear 0.2s;
}
