@use 'vars';

.textComponent{
    text-align: justify;
    font-size: 20px;
    padding: 95px 71px 43px 184px;
    color: vars.$white;
}

.textComponent p{
    padding: 12px;
    font-weight: 400;
    font-style: normal;
}
